.alert {
    padding: 15px;
    margin-bottom: 18px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-align: center;
    font-size: 15px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #468847;
    color: #468847
}

.alert-info {
    background-color: #d6dde7;
    border-color: #9cb4c5;
    color: #346597
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #dbab57;
    color: #c09853
}

.alert-danger {
    background-color: #f2dede;
    border-color: #b94a48;
    color: #b94a48
}
