.file-list-item-button {
    float: right;
    margin-right: 1%;
}

.file-func-item {
    font-size: x-large;
    margin-right: 15px;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* Bounce In */
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.focus:hover{
    cursor: pointer;
}
.file-name {
    isplay: flex;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    padding: 0;
}
.name-text {
    width: 0;
    flex-grow: 1;
    display: flex;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100%;
    z-index: 10;
    padding-right: 20px;
}
.file-main-name {
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}
.file-extension{
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
    vertical-align: top;
}

.file-table {
    border-collapse: separate;
    border-spacing: 10px;
}
.file-table .file-tr {
    font-size: 18px;
}